<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="regstudent" method="POST">
        {% csrf_token %}
        Name:<input type="text" name="name"><br>
        Address:<input type="text" name="add"><br>
        Phone:<input type="text" name="phone"><br>
        Age:<input type="text" name="age"><br>
     
        username:<input type="text" name="uname"><br>
        password:<input type="password" name="pass"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>